[alias]                                                                                                                                                                           
        br = branch -v
        co = checkout
        ci = commit
        logf = log --name-status
        st = status -s
		showf = show --pretty="format:" --name-only
[color]
        ui = true
[user]
        email =YOUR@EMAIL
        name = PUTYOURNAME
[merge]
    tool = vimdiff
[difftool]
    prompt = false
[core]
	editor = vim
	pager = less -+F
